.checkListElementCreateForm {
	display: flex;
	flex-direction: column;
	row-gap: 6px;
}

.checkListElementTextarea {
	width: 100%;
	min-height: 40px;
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius-small);
	padding: 8px;
	resize: none;
	overflow: hidden;
}

.checkListElementNav {
	display: flex;
	column-gap: 6px;
}

.checkListElementSaveButton,
.checkListElementCancelButton {
	border: var(--border);
	border-radius: var(--border-radius-small);
	padding: 6px 10px;
}

.checkListElementAddButton {
	border: var(--border);
	border-radius: var(--border-radius-small);
	padding-block: 6px;
}
