.CheckListCreateMenu {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
}

.CheckListCreateMenuForm {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.CheckListCreateMenuFieldset {
	border: none;
	padding: none;
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}

.CheckListCreateMenuInput {
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius-tiny);
	padding: 4px;
}

.CheckListCreateMenuSubmitBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px 20px;
	border: var(--border);
	border-radius: var(--border-radius-small);
}
