.menuContentLayout {
	background-color: var(--color-bg-card);
	border: var(--border);
	border-radius: var(--border-radius-medium);
	padding: 15px;
	width: 350px;
	display: flex;
	flex-direction: column;
	row-gap: 16px;
}

.menuContentLayoutHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
