.columnEditingContainer {
	display: inline-flex;
	align-items: center;
	border-radius: var(--border-radius-small);
	padding: 8px 16px;
	box-sizing: border-box;
	background-color: var(--color-bg-card);

	width: 100%;
	min-width: 0;
	flex-shrink: 1;
}

.inlineText {
	font-size: 22px;
	font-weight: 500;
	font-family: inherit;
	color: var(--color-text-main);
	width: 100%;
}

.columnTitle {
	display: inline-block;
	font-size: 22px;
	font-weight: 500;
	font-family: inherit;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 16px;
	border-radius: var(--border-radius-small);
	transition-duration: var(--transition-duration);
	box-sizing: border-box;
}

.columnTitle:hover {
	background-color: var(--color-bg-card);
	cursor: text;
}
