@import "./normalize.css";

body {
    padding: 30px;
}

.board {
    display: flex;
    column-gap: 30px;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 15%;
    row-gap: 10px;
    padding: 20px;
    background-color: #5b5e6346;
}

.taskCard {
    padding: 10px;
    background-color: #1f23383a;
}