@import "./normalize.css";

body {
    padding: 30px;
}

.board {
    display: flex;
    column-gap: 30px;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 30px;
}

.board__addColumn {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.board__addColumnButton {
    display: flex;
    align-self: start;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 15%;
    row-gap: 10px;
    padding: 20px;
    background-color: #5b5e6346;
}

.column__title {

}

.column__input {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.column__input:hover {
    background-color: #8585853a;
}

.column__addTask {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.taskCard {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1f23383a;
}