@import "./normalize.css";

body {

}

.board {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.068);
}

.board__addColumn {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.board__addColumnButton {
    display: flex;
    align-self: start;
}

.column {
    width: 15%;
    padding-inline: 15px;
}

.column__tasks, .columnOverlay__tasks {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.column__inner {
    cursor: grab;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: #5b5e6346;
    align-self: flex-start;
}

.columnOverlay {
    padding-inline: 15px;
}

.columnOverlay__inner {
    cursor: grab;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    background-color: #5b5e6346;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    z-index: 1000;
}

.column__title {

}

.column__input, .columnOverlay__title {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.column__input:hover {
    background-color: #8585853a;
}

.column__addTask {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.taskCard {
    box-sizing: border-box;
    cursor: grab;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1f23383a;
    border: 3px solid transparent;
    border-radius: 8px;
}

.taskCard:hover {
    border-color: aliceblue;
}

.taskCard__text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word; 
}

.taskCardOverlay {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #1f23383a;
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border: 3px solid aliceblue;
    z-index: 1000;
    border-radius: 8px;
}
