.checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	transition-duration: var(--transition-duration);
}

.checkbox:hover {
	background-color: var(--color-bg-header);
}

.realCheckbox {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.customCheckbox {
	width: 100%;
	position: relative;
	cursor: pointer;
	display: block;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		border: var(--border-thin);
		opacity: 0.3;
		border-radius: var(--border-radius-tiny);
		width: 100%;
		aspect-ratio: 1;
		transition: var(--transition);
		box-sizing: border-box;
	}
}

.realCheckbox:checked + .customCheckbox {
	&::after {
		opacity: 1;
		border-color: var(--color-accent);
	}

	.checkIcon {
		display: block;
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.checkIcon {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%) scale(0.8);
	color: var(--color-accent);
	pointer-events: none;
	transition:
		opacity var(--transition),
		transform var(--transition);
}
