.deleteButton {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: none;
	border-radius: var(--border-radius-small);
	box-shadow: inset 0 0 0 0px transparent;
	color: var(--color-text-main);
	transition-duration: var(--transition-duration);
}

.deleteButton:hover {
	box-shadow: inset 0 0 0 2px var(--color-accent);
	transition-duration: var(--transition-duration);
}
